/* Resetting default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container untuk form login */
.login-container {
    background: rgba(255, 255, 255, 0.8); /* Background transparan untuk form */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Styling form dan input */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.input-container input:focus {
    border-color: #66cc33;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

button:hover {
    background-color: #4CAF50;
}
img {
    width: 100px;
}

a {
    color: black;
    font-weight: bold;
}
a:hover {
    color: white;
    background-color: green;
    padding: 6px 8px;
    text-decoration: none;
}
